#**TUGAS 1 MACHINE LEARNING 2022**

NAMA  : Umar Sabirin

NIM   : H071201059

# Pertemuan 5

Pertemuan 5 (lima) pada  Microcredential Associate Data Scientist 2021 menyampaikan materi mengenai Mengumpulkan Data, Menelaah Data dengan metode Statistik

**1. Install Modul kaggle:**

In [2]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"umarsabirin","key":"829e92a09f5dab49802b511973a728b2"}'}

In [5]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [6]:
! cp kaggle.json ~/.kaggle/

In [7]:
!kaggle datasets list -s Iris

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                        title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                                 Iris Species                                        4KB  2016-09-27 07:38:05         322888       3093  0.7941176
arshid/iris-flower-dataset                                 Iris Flower Dataset                               1010B  2018-03-22 15:18:06          69611        517  0.8235294
vikrishnan/iris-dataset                                    Iris Dataset                                       999B  2017-08-03 16:00:44           5451         38  0.7647059
parulpandey/palmer-archipelago-antarctica-penguin-data     Palmer Archipelago (Antarctica) penguin data       11KB  2020-06-09 10:14:54          30618        253  0.9705882
chuckyin/iris-datasets                                     Iris datasets                                       1KB  2017-03-10 09:35:43           2365         18  0.7352941
therohk/ireland-historical-news                            Irish Times - Waxy-Wany News                       52MB  2021-09-25 10:52:48           3108        160  1.0
rtatman/iris-dataset-json-version                          Iris Dataset (JSON Version)                         1KB  2018-04-06 20:21:31           9369         58  0.75
jillanisofttech/iris-dataset-uci                           Iris dataset uci                                    1KB  2021-11-06 15:11:47            255         22  1.0
himanshunakrani/iris-dataset                               iris dataset                                      1006B  2022-07-20 18:50:06            269         20  1.0
fleanend/birds-songs-numeric-dataset                       Birds' Songs Numeric Dataset                       25MB  2019-04-01 09:09:46           1213         29  0.9411765
jeffheaton/iris-computer-vision                            Iris Computer Vision                                5MB  2020-11-24 21:23:29            664         17  0.875
conorrot/irish-weather-hourly-data                         Irish Weather (hourly data)                        67MB  2020-06-29 20:15:18           2302         44  0.8235294
saurabh00007/iriscsv                                       Iris.csv                                            1KB  2017-11-09 07:34:35          34437         78  0.4117647
arslanali4343/iris-species                                 Iris Species                                        2KB  2020-07-02 06:09:09            110         16  0.5625
kamrankausar/iris-data                                     iris_data                                           1KB  2017-11-30 10:26:01           1328         18  0.64705884
ashkhagan/palmer-penguins-datasetalternative-iris-dataset  Palmer Penguins Dataset-Alternative Iris Dataset    3KB  2020-06-30 06:30:43            692         13  0.8235294
styven/iris-dataset                                        Iris dataset                                        1KB  2017-11-04 14:10:12            889          8  0.29411766
naureenmohammad/mmu-iris-dataset                           MMU iris dataset                                   30MB  2020-07-25 18:38:33           1543         34  0.5625
olgabelitskaya/flower-color-images                         Flower Color Images                                50MB  2020-10-01 22:48:07          10903        179  0.75
shantanuss/iris-flower-dataset                             IRIS flower dataset                                 1KB  2020-01-18 19:43:18            465          4  0.9411765

# Latihan (1)

Silahkan Download sebuah dataset menggunakan API Kaggle

In [8]:
#Langkah nya seperti contoh diatas
#Mengunduh dataset dari kaggle dengan mencari dan menampilkan daftarnya 
!kaggle datasets list -s Diabetes

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                             title                                          size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  ---------------------------------------------  ----  -------------------  -------------  ---------  ---------------
mathchi/diabetes-data-set                                       Diabetes Dataset                                9KB  2020-08-05 21:27:01          35380        345  1.0
uciml/pima-indians-diabetes-database                            Pima Indians Diabetes Database                  9KB  2016-10-06 18:31:56         319925       3280  0.88235295
salihacur/diabetes                                              diabetes                                        9KB  2020-03-21 13:50:58           1631         28  0.9411765
johndasilva/diabetes                                            diabetes                                       12KB  2018-04-25 19:17:46           9010        104  0.4117647
alexteboul/diabetes-health-indicators-dataset                   Diabetes Health Indicators Dataset              6MB  2021-11-08 16:48:54          14927        193  1.0
vikasukani/diabetes-data-set                                    Diabetes Data Set                              12KB  2020-08-08 11:23:25           5177         91  0.8235294
brandao/diabetes                                                Diabetes 130 US hospitals for years 1999-2008   4MB  2017-10-31 15:53:55          13832        185  0.7941176
andrewmvd/early-diabetes-classification                         Early Classification of Diabetes                2KB  2021-12-06 11:51:00           2405         57  1.0
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                                9KB  2022-10-06 08:55:25           2615         74  1.0
nancyalaswad90/review                                           Diabetes Dataset - Pima Indians                 9KB  2022-07-16 12:39:20            478         71  1.0
alakaaay/diabetes-uci-dataset                                   Diabetes UCI Dataset                            2KB  2021-07-02 11:03:37           1495         27  0.7647059
jillanisofttech/diabetes-disease-updated-dataset                Diabetes Disease Updated Dataset                9KB  2022-03-26 11:55:28           1131         33  1.0
ishandutta/early-stage-diabetes-risk-prediction-dataset         Early Stage Diabetes Risk Prediction Dataset    3KB  2020-09-21 15:37:46           3787         61  0.9411765
kumargh/pimaindiansdiabetescsv                                  pima-indians-diabetes.csv                       9KB  2018-02-27 21:06:02          44542        211  0.47058824
shantanudhakadd/diabetes-dataset-for-beginners                  Diabetes Dataset for Beginners                  9KB  2022-02-25 09:06:14           1240         37  0.88235295
saurabh00007/diabetescsv                                        diabetes.csv                                    9KB  2017-11-13 11:42:48          30966        142  0.4117647
tigganeha4/diabetes-dataset-2019                                Diabetes Dataset 2019                           6KB  2020-10-20 06:43:27           1734         30  0.8235294
gargmanas/pima-indians-diabetes                                 [Global Dataset] Pima Indians Diabetes          9KB  2021-04-30 18:46:21           1502         82  1.0
jimschacko/10-years-diabetes-dataset                            10 Years Diabetes Dataset                       3MB  2022-07-04 04:47:36           1026         36  1.0
houcembenmansour/predict-diabetes-based-on-diagnostic-measures  Predict diabetes based on diagnostic measures   9KB  2021-06-20 08:59:20           2366         51  0.8235294

### PENGGUNAAN LIBRARY PANDAS dan NUMPY

Pada materi ini, peserta sudah mendapatkan pemahaman mengenai data dan dataset. Penggunaan library pada Python memberikan kemudahan dalam proses data understanding. Beberapa library yang digunakan adalah library Pandas dan Numpy.

# Latihan (2)

Lakukan import Library Pandas dan Library Numpy

In [9]:
import pandas as pd
import numpy as np

### DATAFRAME

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

# Latihan (3)

Panggil file (load dataset) dengan format .csv untuk dataset mengenai bunga Iris yang sudah peserta unduh dari Kaggle, dan akan disimpan di dalam dataframe df. Lalu tampilkan 5 baris awal dataset dengan function head()

In [10]:
! chmod 600 ~/.kaggle/kaggle.json

In [11]:
!kaggle datasets download uciml/iris

Downloading iris.zip to /content
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 5.68MB/s]

In [12]:
!unzip iris.zip

Archive:  iris.zip
  inflating: Iris.csv
  inflating: database.sqlite

In [13]:
dataset='/content/Iris.csv'

In [14]:
df=pd.read_csv(dataset)

In [15]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Telaah Data

Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

# Latihan (4)

Tampilkan tipe data dari kolom yang ada pada dataset

In [16]:
print(df.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

# Latihan (5)

Apakah tipe Data dari kolom berikut ini: (silakan diisi pada cell di bawah ini)

In [17]:
print(df['Id'].dtypes)
print(df['SepalLengthCm'].dtypes)
print(df['Species'].dtypes)

#Kolom  "Id" memiliki tipe data =  int64
#Kolom "SepalLengthCm" memiliki tipe data =  float64
#Kolom "Species" memiliki tipe data =  object

int64
float64
object

# Latihan (6)

Hitunglah ukuran (jumlah baris dan kolom) dari dataset. Dengan menggunakan method function

In [18]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Latihan (7)

Berapakah jumlah baris, dan jumlah kolom pada dataset? (silakan diisi pada cell di bawah ini)

In [19]:
#Jumlah Baris pada dataset adalah = 150

#Jumlah kolom pada dataset adalah =  6

# Latihan (8)

Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [20]:
df.new=df.iloc[:,[0,5]]
df.new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

# Latihan (9)

Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [21]:
df.sembilan=df.new.iloc[:10]
df.sembilan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa
9  10  Iris-setosa

# Latihan (10)

Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [22]:
df.from11to15=df.new.iloc[11:16]
df.from11to15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

    Id      Species
11  12  Iris-setosa
12  13  Iris-setosa
13  14  Iris-setosa
14  15  Iris-setosa
15  16  Iris-setosa

# Latihan (11)

Pada DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().

Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [23]:
df.sebelas=df.iloc[:8]
df.sebelas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

# Latihan (12)

Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe.

In [24]:
df.duabelas=df.iloc[147:150,:]
df.duabelas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Latihan (13)

Hitung korelasi dari dataset. Dengan menggunakan method function

In [25]:
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

# Latihan (14)

Berdasarkan pada perhitungan korelasi di Latihan (11), apakah yang dapat Bapak/Ibu simpulkan sementara? Silakan tuliskan simpulan sementara Bapak/Ibu pada cell di bawah ini.

#Kolom SepalWidthCm memiliki korelasi yang rendah terhadap kolom yang lainnya yaitu semuanya dibawah 0.5 ataupun diatas -0.5. Sedangkan kita ketahui bahwa korelasi yang baik adalah setidaknya 5 atau diatasnya yang mendekati 1 atau -1. Sehingga kolom SepalWidthCm ini sebaiknya kita drop saja.

# Latihan (15)

Hitung korelasi untuk kolom berikut ini: PetalLengthCm, PetalWidthCm

In [26]:
df.iloc[:,[3,4]].corr()

               PetalLengthCm  PetalWidthCm
PetalLengthCm       1.000000      0.962757
PetalWidthCm        0.962757      1.000000

# Latihan (16)

Method "describe" secara otomatis melakukan komputasi statistik untuk semua continous variable. Secara default "describe" melakukan ignore terhadap variabel bertype objek.

Komputasi statistik yang dilakukan terdiri dari: count, mean, std, min, max, 25%, 75%, max.

Latihan: Gunakan method describe pada dataset yang sudah di load untuk semua continous variabel. (Dataset Iris.csv)

In [27]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Latihan (17)

Gunakan method describe pada dataset yang sudah di load untuk data bertype objek. (Dataset Iris.csv)

In [28]:
df.obj_type=df.iloc[:,[5]]
df.obj_type.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

            Species
count           150
unique            3
top     Iris-setosa
freq             50

# Latihan 18

Gunakan method describe pada dataset yang sudah di load untuk semua type data (continous variabel dan type object).

In [29]:
df.all_type=df.iloc[:,[0,1,2,3,4,5]]
df.all_type.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Latihan (19)

Hitunglah nilai mean dari dataset.

In [30]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

# Latihan (20)

Hitung nilai mean dari dataset untuk kolom PetalLengthCm.

In [ ]:
df.col3 = df.iloc[:,[3]]
df.col3.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

PetalLengthCm    3.758667
dtype: float64

# Latihan (21)

Carilah nilai minimal dari dataset untuk kolom SepalWidthCm.

In [31]:
df.col2 = df.iloc[:,[2]]
df.col2.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

SepalWidthCm    2.0
dtype: float64

# Latihan (22)

Hitunglah nilai mean dari dataset untuk kolom SepalLengthCm per Species dengan menggunakan metode groupby.

In [32]:
df.groupby('Id')['SepalLengthCm'].mean()

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

# Latihan (23)

Hitunglah frekuensi pada kolom 'Species' dengan menggunakan metode value_counts().

In [33]:
df.col5 = df.iloc[:,[5]]
df.col5.value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

# Latihan (24)

Tampilkan perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe.

In [34]:
df.col5 = df.iloc[:,[5]]
df.col5.value_counts().to_frame()

                  0
Species
Iris-setosa      50
Iris-versicolor  50
Iris-virginica   50

# Latihan (25)

Hitunglah frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts() dan dalam bentuk dataframe.

In [35]:
df.col3 = df.iloc[:,[3]]
df.col3.value_counts().to_frame()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

                0
PetalLengthCm
1.5            14
1.4            12
4.5             8
5.1             8
1.3             7
1.6             7
5.6             6
4.0             5
4.9             5
4.7             5
5.0             4
4.8             4
4.4             4
4.2             4
1.7             4
5.8             3
4.1             3
5.7             3
5.5             3
6.1             3
4.6             3
3.9             3
6.7             2
1.2             2
5.4             2
5.3             2
5.2             2
5.9             2
1.9             2
3.3             2
3.5             2
4.3             2
6.0             2
6.6             1
6.4             1
6.3             1
1.0             1
1.1             1
3.8             1
3.7             1
3.6             1
3.0             1
6.9             1

DONE